.hover-popup {
    position: relative;
    overflow: hidden;
    &__overlay {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 2rem;
        position: absolute;
        bottom: -100%;
        left: 0;
        transition: all .3s;

        // Background colors
        &--color-primary {
            background-color: rgba($color-primary, .85);
            box-shadow: inset 0 -4px 0px rgba(darken($color-primary, 20%),.8);
        }
    }
    &__container {
        text-align: center;
    }

    // Centering

    &__centered {
        justify-content: center;
        align-items: center;
    }


 
}